// colors
$background: rgba(219, 249, 244, 1);
$text: rgba(41, 47, 54, 1);
$background-child: rgba(158, 25, 70, 1);
$background-parent: rgba(53, 144, 243, 1);
$white: rgba(255, 255, 255, 1);

//color button:
$green: #4CAF50;
